<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.faculdade_luisot.folhapagamento.faculdade_app_folha_pagamento">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
